table {
	border: 1px solid black;
	/*修正单元格之间的边框不能合并*/
	border-collapse: collapse;
	width: 900px;
}
table td {
	border: 1px solid black;
	top left border-bottom:1px;
	padding:4px 6px 4px 6px;
}
table th {
	border: 1px solid black;
	top left repeat-x;
	padding:4px 6px 4px 6px;
	border-bottom:1px;
	white-space:nowrap;
}
tbody th {
	background-color: #A3BAE9;  
}
