# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<%! 
import time
    %>
<div id="page-header">
	<div class="title">
		交换机管理界面
	</div>
	<div class="subtitle">
	            交换机信息
	</div>
</div>
<form action="/get_exchanges" method="post" >
	<table>		 
		<tr>
			<td><label for="ename" class="label">交换机名称:</label></td>
			<td>
				<input type="text" id="ename" name="ename" value="${ename or ''}" />
			</td>
			<td><label for="status" class="status">状态:</label></td>
			<td>
				<select id="status" name ="status">
				% if status is not None and status is not '':
				   % if int(status) == 0:
				      <option value='' >全部</option>
					  <option value=0  selected>注销</option>  
					  <option value=1 >激活</option>   
				   % else:
				      <option value='' >全部</option>
					  <option value=0 >注销</option>
					  <option value=1 selected>激活</option> 
				   % endif	 
				% else:   
				      <option value='' selected>全部</option>
				      <option value=0 >注销</option>
					  <option value=1 >激活</option> 
				% endif	  
				</select>
			</td>
			<td><input type="submit"  class="button" value="查询" /></td>
		</tr>
	</table>
</form>
<br>
<div class="field">
	<table>
		<tbody>
			<tr>
				<th align="center">编号</th>
				<th align="center">交换机名称</th>
				<th align="center">ip地址</th>
				<th align="center">状态</th>
				<th align="center">创建时间</th>	
                <th align="center">操作</th>	
			</tr>
			<% i=1 %>
			% for c in paginator.page:
			<tr>
				<td align="center">${i}</td>
				<% i=i+1 %>
				<td>${c['ename']}</td>
				<td>${c['ipAddress']}</td>
				<td>
					    % if c['status']==0: 
					              注销
					    % else: 
					              激活    
					    % endif
					</td>
				<% ct = c['created_at'].strftime("%y-%m-%d %H:%M:%S") %>
				<td>${ct}</td>
				<input type="hidden" value="${c['_id']}" class="e_id" name="e_id" />
				<td align="center">
				    <input type="button" class="button" value="修改密码" />
					<input type="button" class="button" value="注销" />  
					<input type="button" class="button" value="激活" />
				</td>
			</tr>
			% endfor  
			<br>
		</tbody>
	</table>
</div>
<div>
			第 ${paginator.current_page} 页  ｜ 共 ${paginator.page_count}页   
			
			<!-- if there is a previous page print a back link -->
            % if paginator.has_previous:
                  <a href="${paginator.previous_page_link(request)}"><< back</a>
            % endif

            <!-- if there is a previous and a next page print a divider -->
                  % if paginator.has_previous and paginator.has_next:
                  | 
            % endif

            <!-- if there is a next page print a next link -->
            % if paginator.has_next:
                    <a href="${paginator.next_page_link(request)}">next >></a>
            % endif
           </div>
<script type="text/javascript">
$('input[value="修改密码"]').click(function(){
        url = 'exchange_up?e_id='+$(this).parent().parent().find('.e_id').val()
        window.open(url,'','width=400,height=300,menubar=no,location=no,resizable=yes,status=no,scrollbars=yes');	
	});


$('input[value="激活"]').click(function(){
		if(confirm('您确定激活该交换机吗？')) 
		$.ajax({
			url:'exchange_active?e_id='+$(this).parent().parent().find('.e_id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});
	
	$('input[value="注销"]').click(function(){
		if(confirm('您确定注销该交换机吗？')) 
		$.ajax({
			url:'exchange_del?e_id='+$(this).parent().parent().find('.e_id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});
	function success(){
	    window.location.reload();
	}
</script>
</%def>