# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<div class="box">
	<div class="box-header">
		<h1>添加用户界面-用户与产品信息</h1>
	</div>
<div class="box-content">
<form action="/custorm_add" method="post" >
<p>
			<label for="cname" class="label">客户名称:</label>
				<input type="text" id="cname" name="cname" class="required"/>
</p>
<p>	
			<label for="address" class="label">地址:</label>
				<input type="text" id="address" name="address" class="required"/>
</p>
<p>
			<label for="phonenum" class="label">联系电话:</label>
				<input type="text" id="phonenum" name="phonenum" class="required integer"/>
<p>							
			<label for="email" class="label">电子邮件:</label>  
				<input type="text" id="email" name="email" placeholder="email@example.com"  class="email" />
</p>
<p>
			<label for="e_id" class="label">设备类型:</label>
				<select id="e_id" name="e_id" class="required">
				% for e in exchanges:
				     <option value=${e['_id']} >${e['ename']}</option>  
			    % endfor		
				</select>
</p>  
<p>
			<label for="port" class="label">对应vlan:</label>
				  <input type="text" id="port" name="port" class="required"/>
</p>
<p>
			<label for="type" class="label">产品带宽(单位：兆):</label>
				<select id="type" name="type" class="required"/>
				      % for e in range(20):
				         <option value=${e+1}>${e+1}</option>
			          % endfor        
			          <option value=50>50</option>  
			          <option value=100>100</option>
			    </select>
</p>
<p>
			<label for="continue_to" class="label">可用时间：</label>
				<input type="text" id="continue_to" name="continue_to" class="required integer"/>h(单位：小时)
</p>
			<!--<label for="begin_ip" class="label">开始ip:(格式***.***.***.***)</label>  
			<div class="input">  
				 <input type="text" id="begin_ip" name="begin_ip" class="required 2ip"/>  
			</div>
			<label for="suspended_ip" class="label">结束ip:(格式***.***.***.***)</label>
			<div class="input">  
				  <input type="text" id="suspended_ip" name="suspended_ip" class="required 2ip"/>
			</div>-->
<p>
			<label for="begin_at" class="label">开始时间:</label>  
				 <input type="datetime" class="datepicker_date" name="begin_at" class="required"/>	
</p>
<p>
			<label for="suspended_at" class="label">过期时间:</label> 
				 <input type="datetime" class="datepicker_date" name="suspended_at" class="required"/>	
</p>
<p>
			<label for="price" class="label">价格:</label>
				<input type="text" id="price" name="price" class="required integer"/>Y(单位：元)
</p>
<p>
				<input type="submit" class="button blue" value="添加"/>   
				<input type="reset" class="button" value="重置"/>
</p>
</form>  
</div>				
</div>
<script type="text/javascript">
/*$('#fileTab').tabs({
		ajaxOptions: {
			error: function( xhr, status, index, anchor ) {
				$( anchor.hash ).html("该页无法显示，没法华丽扯淡！" );
			}
		},    
		select:function(obj,tab){	      	
			var subWeb = document.frames ? document.frames[tab.panel.id].document : document.getElementById(tab.panel.id).contentDocument;
			switch(tab.panel.id)
			{
			case "thisMonth":$(tab.panel).find('iframe').attr('src','/manage');
			//$(tab.panel).find('iframe').attr("height",subWeb.body.scrollHeight);break;
			default:$(tab.panel).find('iframe').attr('src','');break;
			}		
		}
	});*/ 
$('input[type="datetime"]').click(function(){
    $('.ui-datepicker').css({'z-index':999});   
});
</script>
</%def>