# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<%! import time %>
<div class="box">
	<div class="box-header">
		<h1>交换机信息</h1>
	</div>
	<div class="box-content">
	<table id="product" class="table table-hover">
			<thead>  
				<tr>
					<th align="center">编号</th>
				    <th align="center">交换机名称</th>
				    <th align="center">交换机厂牌</th>
				    <th align="center">交换机型号</th>
				    <th align="center">ip地址</th>
				    <th align="center">状态</th>	
				    <th align="center">创建时间</th>		
				    <th align="center">操作</th>								
				</tr>
			</thead>
			<tbody>
			<% i=1 %>
			    % for c in paginator.page:
				<tr style="cursor:pointer">
				    <td align="center" >${i}</td>
				    <% i=i+1 %>
					<td>${c['ename']}</td>  
					<td>
					% if c['elogo']=='0': 
						  Cisco
					% else: 
						  华为
					% endif
					</td>
					<td>
					% if c['etype']=='0': 
						  3560
					% else: 
						  3600
					% endif
					</td>
					<td class="needEdit" >${c['ipAddress']}</td>
					<td>
					% if c['status']==0: 
						  注销
					% else: 
						  激活
					% endif
				</td>
				<% ct = c['created_at'].strftime("%y-%m-%d %H:%M:%S") %>
					<td>${ct}</td>		
				<input type="hidden" value="${c['_id']}" class="e_id" name="e_id" />	
				<td><input type="button" class="button" value="注销" /><input type="button" class="button" value="激活" /></td>
				</tr>
		        % endfor	        
		        </tbody>
		        <tfoot>
		        <tr id="ui-detail-row" >
		        	<td colspan="10">
		        		<table id="ui-detail-content">		        			
		        		</table>
		        	</td>
		        </tr>
			</tfoot>
	</table>
	<div>
			第 ${paginator.current_page} 页  ｜ 共 ${paginator.page_count}页   
			<!-- if there is a previous page print a back link -->
            % if paginator.has_previous:
                  <a href="${paginator.previous_page_link(request)}"><< back</a>
            % endif
            <!-- if there is a previous and a next page print a divider -->
                  % if paginator.has_previous and paginator.has_next:
                  | 
            % endif
            <!-- if there is a next page print a next link -->
            % if paginator.has_next:
                    <a href="${paginator.next_page_link(request)}">next >></a>
            % endif
	</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){ 
   $('.needEdit').click(tdClick); 
}); 
function tdClick(){ 
    var td = $(this);
    var text = td.text();
    td.html("");
    var input = $("<input>"); 
    input.attr("value",text); 
    td.append(input); 
    var inputDom = input.get(0); 
    inputDom.select(); 
    td.unbind("click"); 
    input.keyup(function(event){ 
      var myEvent = event || window.event; 
      var keyCode = myEvent.keyCode; 
      if(keyCode == 13){   
        var _id = $(this).parent().parent().find('.e_id').val()  
        var inputNode = $(this); 
        var inputText = inputNode.val(); 
        var tdNode = inputNode.parent(); 
	    tdNode.html(inputText); 
	    $.ajax({
			url:'update_exchange_ip?e_id='+_id+'&ip='+inputText,  
			type:'post',			
			success:success2,			
			statusCode: {
				404: function() {
    				alert('error');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
	     });   
        tdNode.click(tdClick); 
      } 
    }); 
    function success2(){
      tdNode.html(inputText); 
      tdNode.click(tdClick); 
    }
    input.blur(function(){ 
      var inputNode = $(this); 
      var inputText = inputNode.val(); 
      var tdNode = inputNode.parent(); 
      
    }); 
  }
  
$(function(){
    $('input[value="激活"]').click(function(){  
		if(confirm('您确定激活该交换机吗？')) 
		$.ajax({
			url:'exchange_active?e_id='+$(this).parent().parent().find('.e_id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});  
	$('input[value="注销"]').click(function(){
		if(confirm('您确定注销该交换机吗？')) 
		$.ajax({
			url:'exchange_del?e_id='+$(this).parent().parent().find('.e_id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});
	function success(){
	    window.location.reload();
	}
});
$("#package_id").change(function(){ 
		var packname=$("#package_id").val();
        //alert(packname); 
        $("#custom_time1").remove();
        if(packname == 'A'){
        	var str="<select id='custom_time1' name='custom_time1'>";
			$(function(){
				for(i=9; i<15;i++){
				     str+= "<option value='"+i+"'> 当日"+i+":00</option>";
				     }
				});
			str+="</select>";
			$('#custom_time').after(str);
        }else if(packname == 'B'){
        	var str="<select id='custom_time1' name='custom_time1'>";
			$(function(){
				for(i=0; i<24;i++){
				     str+= "<option value='"+i+"'> 当日"+i+":00</option>";
				     }
				});
			str+="</select>";
			$('#custom_time').after(str);
        }else{
        	var str="<select id='custom_time1' name='custom_time1'>";
			$(function(){
				for(i=19; i<21;i++){
				     str+= "<option value='"+i+"'> 当日"+i+":00</option>";
				     }
				});
			str+="</select>";
			$('#custom_time').after(str);
        }  		
	});	
</script>  
</%def>

