# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<div class="box">
	<div class="box-header">
		<h1>添加交换机信息</h1>
	</div>
<div class="box-content">
<form action="/add_exchange" method="post" >
<p>
			<label for="cname" class="label">交换机名称:</label>
				<input type="text" id="ename" name="ename" class="required" placeholder="如何填写请与君众公司客服人员确认"  />
</p>
<p>	
			<label for="ipAddress" class="label">IP地址:</label>
				<input type="text" id="ipAddress" name="ipAddress" placeholder="127.0.0.1"  />
</p>
<p>
			<label for="phonenum" class="label">用户名:</label>  
				<input type="text" id="tusername" name="tusername" class="required"/>
</p>
<p>
			<label for="device" class="label">密码:</label>
				  <input type="password" id="tpassword" name="tpassword" class="required" />
</p>
<p>
			<label for="device" class="label">请再次输入密码:</label>
				 <input type="password" id="tpassword2" name="tpassword2" class="required" />
</p>
<p>
				<input type="submit" class="button blue" value="添加"/>   
				<input type="reset" class="button" value="重置"/>
	</p>
</form>
</div>				
</div>
<script type="text/javascript">
 $(function() {
            $.validator.addMethod('IP4Checker', function(value) {
                var ip = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;  
                return ip.test(value);  
            }, "Invalid IP address");  
        });
/*$('#fileTab').tabs({
		ajaxOptions: {
			error: function( xhr, status, index, anchor ) {
				$( anchor.hash ).html("该页无法显示，没法华丽扯淡！" );
			}
		},
		select:function(obj,tab){		
			var subWeb = document.frames ? document.frames[tab.panel.id].document : document.getElementById(tab.panel.id).contentDocument;
			switch(tab.panel.id)
			{
			case "thisMonth":$(tab.panel).find('iframe').attr('src','/manage');
			//$(tab.panel).find('iframe').attr("height",subWeb.body.scrollHeight);break;
			default:$(tab.panel).find('iframe').attr('src','');break;
			}		
		}
	});*/
</script>
</%def>