# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<%! 
import time
    %>
<div class="box">
<div class="box-header">
    <h1>运营商管理界面 - 用户信息</h1>
</div>
<div class="box-content" style="position:relative; z-index:99;" >
<form action="/manage" method="post"  >
	<table>		 
		<tr>
			<td><label for="cname" class="label">客户名称:</label></td>
			<td>
				<input type="text" id="cname" name="cname" value="${cname or ''}" />
			</td>
			<td><label for="status" class="status">状态:</label></td>
			<td>
				<select id="status" name ="status" placeholder="City" class="{validate:{required:true}}" >
				% if status is not None and status is not '':
				   % if int(status) == 0:
				      <option value='' >全部</option>
					  <option value=0  selected>注销</option>  
					  <option value=1 >激活</option>   
				   % else:
				      <option value='' >全部</option>
					  <option value=0 >注销</option>
					  <option value=1 selected>激活</option> 
				   % endif	 
				% else:   
				      <option value='' selected>全部</option>
				      <option value=0 >注销</option>
					  <option value=1 >激活</option> 
				% endif	  
				</select>
			</td>
			<td><button type="submit" class="button"><span class="ui-icon ui-icon-search"></span>查询</button></td>
		</tr>
	</table>
</form>
</div>
</div>
<div class="box">
<div class="box-header"></div>
<div class="box-content">
	<table>
		<thead>
			<tr>
				<th align="center">编号</th>
				<th align="center">客户名称</th>
				<th align="center">线路编号</th>
				<th align="center">套餐类型</th>
				<th align="center">客户地址</th>
				<th align="center">客户电话</th>
				<th align="center">客户邮箱</th>
				<th align="center">状态</th>
				<th align="center">原始带宽</th>
				<th align="center">提升带宽</th>
				<th align="center">定制开始时间</th>
				<th align="center">使用起始</th>
				<th align="center">使用结束</th>
				<th align="center">注册时间</th>
				<th align="center">操作</th>				
			</tr>
		</thead>
		<tbody>
			<% i=1 %>
			% for c in paginator.page:
			<tr>
				<td align="center">${i}</td>
				<% i=i+1 %>
				<td>${c['cname']}</td>
				<td>${c['linenum']}</td>
				<td>${c['package_id']}</td>
				<td>${c['address']}</td>
			    <td>${c['phonenum']}</td>
			    <td>${c['email']}</td>
				<td>
					% if c['status']==0: 
						  注销
					% else: 
						 激活
					% endif
				</td>
				<td align="right" >${c['ori_bandwidth']}M</td>
				<td align="right" >${c['ascend_bandwidth']}M</td>
				<td>${c['custom_time']}</td>
				<td>${c['begin_at']}</td>
				<td>${c['suspended_at']}</td>
				<% ct = c['created_at'].strftime("%y-%m-%d %H:%M:%S") %>
				<td>${ct}</td>	
				<td align="center">
					<input type="hidden" value="${c['_id']}" class="c_id" name="c_id" />
					<input type="button" class="button small blue" value="激活" />
					<input type="button" class="button small" value="注销" /> 
				</td>
			</tr>
			% endfor			
		</tbody>
	</table>  
			第 ${paginator.current_page} 页  ｜ 共 ${paginator.page_count}页   
			<!-- if there is a previous page print a back link -->
            % if paginator.has_previous:
                  <a href="${paginator.previous_page_link(request)}"><< back</a>
            % endif
            <!-- if there is a previous and a next page print a divider -->
                  % if paginator.has_previous and paginator.has_next:
                  | 
            % endif
            <!-- if there is a next page print a next link -->
            % if paginator.has_next:
                    <a href="${paginator.next_page_link(request)}">next >></a>
            % endif
     </div>
</div>
<script type="text/javascript">
$(function(){
    $('input[value="激活"]').click(function(){  
		if(confirm('您确定激活该客户吗？')) 
		$.ajax({
			url:'custorm_active?c_id='+$(this).parent().parent().find('.c_id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});  
	$('input[value="注销"]').click(function(){
		if(confirm('您确定注销该客户吗？')) 
		$.ajax({
			url:'custorm_del?c_id='+$(this).parent().parent().find('.c_id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});
	function success(){
	    window.location.reload();
	}
});
</script>        
</%def>