# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<%! import time %>
<div class="box">
	<div class="box-header">
		<h1>产品管理界面-产品信息</h1>
	</div>
	<div class="box-content">
	<table id="product" class="table table-hover">
			<thead>
				<tr>
					<th align="center">编号</th>
				    <th align="center">客户名称</th>
				    <th align="center">客户地址</th>
				    <th align="center">客户电话</th>
				    <th align="center">客户邮箱</th>  
				    <th align="center">状态</th>    
				    <th align="center">产品带宽</th>  
				    <th align="center">注册时间</th>  
				    <!--<th align="center">起始ip</th>
				    <th align="center">结束ip</th>--> 
				    <th align="center">操作</th>								
				</tr>
			</thead>
			<tbody>
			    <% i=1 %>
			    % for c in paginator.page:
				<tr style="cursor:pointer">
				    <td align="center" >${i}</td>
				    <% i=i+1 %>
					<td>${c['cname']}</td>  
					<td>${c['address']}</td>
					<td>${c['phonenum']}</td>
					<td>${c['email']}</td>
					<td>
					    % if c['status']==0: 
					                     注销
					    % else: 
					        激活    
					    % endif
					</td>
					<td align="right" >${c['ctype']}M</td>
					<% ct = c['created_at'].strftime("%y-%m-%d %H:%M:%S") %>
					<td>${ct}</td>
					<td align="center">
					   % if c['status']==1:
						<a href="#modal1" class="modal button small">操作</a>
						<input type="hidden" class="cid" value="${c['_id']}" />
					   % endif
					</td>
				</tr>
		        % endfor	        
		        </tbody>
		    <tfoot>
		        <tr id="ui-detail-row" >
		        	<td colspan="10">
		        		<table id="ui-detail-content">		        			
		        		</table>
		        	</td>
		        </tr>
			</tfoot>
	</table>
	<div>
			第 ${paginator.current_page} 页  ｜ 共 ${paginator.page_count}页   
			<!-- if there is a previous page print a back link -->
            % if paginator.has_previous:
                  <a href="${paginator.previous_page_link(request)}"><< back</a>
            % endif
            <!-- if there is a previous and a next page print a divider -->
                  % if paginator.has_previous and paginator.has_next:
                  | 
            % endif
            <!-- if there is a next page print a next link -->
            % if paginator.has_next:
                    <a href="${paginator.next_page_link(request)}">next >></a>
            % endif
	</div>
</div>
</div>
<div id="modal1"  class="box">
	<div class="box-header">
		<h1>带宽操作</h1>
	</div>
	<div class="box-content">
		<iframe src="about:blank" id="sl-product-frame"
			onresize="this.height=this.contentWindow.document.body.scrollHeight"
			style="padding: 0; margin:0; width:620px; height:380px; overflow:hidden;"
			frameBorder=0 scrolling=yes
			onload="this.height=this.contentWindow.document.body.scrollHeight"></iframe>	
		<div class="action_bar"><a class="close button"><span class="ui-icon ui-icon-circle-close"></span>关闭</a></div>							
	</div>
</div>  
<script>	  
	function closeDialog(){
		setTimeout('clozeDialog()',1000);		
	}
	function clozeDialog(){
		//$( "#dialog" ).dialog("close");
		window.location.reload();
	}
	$(function(){
		$('a:contains("操作")').click(function(){
			$('#sl-product-frame').attr('src','/bandwidth?p_id='+$(this).parent().find('.cid').val());
			//$( "#dialog" ).dialog("open");		
		});
		$('#product tbody td:lt(9)').click(function(){		
			$.getJSON('/bandwidthlog?p_id='+$(this).parent().find('.cid').val(), function(json){
				for (i=0;i<json.orders.length;i++){
				   var tpl =tpl + '<tr><td>客户名称:</td><td>{0}</td><td>运营商:</td><td>{1}</td><td>带宽:</td><td>{2}</td><td>开始时间:</td><td>{3}</td><td>结束时间:</td><td>{4}</td><td>状态:</td><td>{5}</td></tr>';
				   tpl=tpl.format(json.orders[i].cname,json.orders[i].oname,json.orders[i].bandwidth,json.orders[i].begin_at,json.orders[i].suspended_at,json.orders[i].status);
				}
				$('#ui-detail-content').html(tpl);
			}); 			
	    }); 
	});
</script>
</%def>

