# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<div class="box">
<%! import time%>
<div class="box-header">
		<h1> 
	 % if usertype==1:
		管理员
	 % else:
	          运营商
	 % endif
	     -信息查询</h1>
</div>
<div class="box-content">
	<table id="product" class="table table-hover">
			<thead>
				<tr>
				    <th align="center">编号</th>
				    <th align="center">名称</th>
				    <th align="center">状态</th>
					<th align="center">注册日期</th>
					<th align="center">登录次数</th>
					<th align="center">上次登录时间</th>
					 % if usertype!=1:
					<th align="center">操作</th>
					% endif
				</tr>			
			</thead>
			<tbody>
				<% i=1 %>
				% for c in users:
				<tr style="cursor:pointer">
				    <td align="center">${i}</td>
				    <% i=i+1 %>
					<td>${c['_id']}</td>
					<td>
					% if c['status']==0: 
						  激活
					% else: 
						  注销
					% endif
					</td>
					<% ct = c['created_at'].strftime("%y-%m-%d %H:%M:%S") %>
					<td>${ct}</td>
					<td>${c['history']['num_logins']}</td>
					<% 
					   lt = ''
					   if c['history']['num_logins'] >0 : 
					      lt = c['history']['last_login'].strftime("%y-%m-%d %H:%M:%S")  
					   else:
					      lt = '' 	       
					   endif
					 %>
					<td>${lt}</td>
					 % if usertype!=1:
					<input type="hidden" value="${c['_id']}" class="_id" name="_id" />
					<td align="center"><input type="button" class="button" value="注销" />  <input type="button" class="button" value="激活" /></td>
					% endif
				</tr>
				% endfor
			</tbody>
	</table>
</div>
<script type="text/javascript">
$(function(){
$('input[value="激活"]').click(function(){
		if(confirm('您确定激活该用户吗？')) 
		$.ajax({
			url:'user_active?u_id='+$(this).parent().parent().find('._id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});
	$('input[value="注销"]').click(function(){
		if(confirm('您确定注销该用户吗？')) 
		$.ajax({
			url:'user_del?u_id='+$(this).parent().parent().find('._id').val(),
			type:'post',			
			success:success,			
			statusCode: {
				404: function() {
    				alert('page not found');
  				}
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	});
	function success(){
	    window.location.reload();
	}
});
</script>
</%def>