# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<style>
html{font-size:12px; font-family:''Hiragino Sans GB W3; -webkit-font-smoothing:antialiased; overflow:hidden; }
html,body{margin:0; padding:0; overflow:hidden;}
#primary,#secondary,#header,header{display:none;}
#maincontainer,#main{background-color:white;}
#main div.box{border:1px soldi red;}
select {width:120px;}
</style>
<form action="/bandwidth" method="post" > 
		    <input type="hidden" id="p_id" name="p_id" value="${p_id}"  class="required"/>
		    <input type="hidden" id="cname" name="cname" value="${cname}"  class="required"/>
		    <input type="hidden" id="oname" name="oname" value="${oname}"  class="required"/>
		    <p>
		    <label for="cname" class="label">客户名称:${cname}</label>
		    <br/>
		    <label for="oname" class="label">运营商名称:${oname}</label>  
		    </p>
		    <p>
			<label for="percent" class="label">百分比:</label>
			<select id="percent" name="percent" class="required"/>  
		              <option value=20>20</option>    
			          <option value=50>50</option>          
			          <option value=100>100</option>   	  	      
			</select>%
			</p>
			<p>
			<label for="begin_at" class="label">开始时间:</label>
				 <input type="datetime" id="begin_at" name="begin_at" class="datepicker_date required" required="required"/>	
			</p>
			<p>
			<label for="suspended_at" class="label">结束时间:</label>
				 <input type="datetime" id="suspended_at" name="suspended_at" class="datepicker_date required"/>	
			</p>
			<p>			
				<input type="submit" class="button blue small" value="确定" />
				<input type="reset" class="button small" value="重置"/>
			</p>
</form>
<script type="text/javascript">
$('input[type="datetime"]').click(function(){
    $('.ui-datepicker').css({'z-index':999});   
});
</script>
</%def> 